* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    background-color: rgb(9 41 66);
}
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.main-section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slides-container {
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.content {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}
